.theCard-statistik {
    background: white;
    box-shadow: 1px 1px 42px 0px rgba(6, 28, 61, 0.13);
    -webkit-box-shadow: 1px 1px 42px 0px rgba(6, 28, 61, 0.13);
    -moz-box-shadow: 1px 1px 42px 0px rgba(6, 28, 61, 0.13);
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
}

.theCard-statistik .iconCard-statistik {
    background: #c6223b;
    border-radius: 10px;
}
.theCard-statistik .iconCard-statistik-2 {
    background: #f9bf26;
    border-radius: 10px;
}

.theCard-Jadwal {
    padding: 26.12px 21.77px 26.12px 21.77px;
    background: white;
    box-shadow: 23.194608688354492px 19.71541976928711px 32.169124603271484px
        0px #3366ff0d;
    border-radius: 13.31px;
}

.theCard-Jadwal .iconCard-Jadwal {
    background: #ff625033;
    border-radius: 5.86px;
    padding: 5.86px;
}

.theCard-Jadwal div p {
    font-size: 18px;
    font-weight: 600;
    color: #2d2d2d;
    line-height: 100%;
}

.theCard-Jadwal .cardDes {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #2d2d2d;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #e6e6e6;
}
.theCard-Jadwal .jadwalInformation-cls {
    background: #ffe5e8;
    padding: 10.45px 8.71px 10.45px 8.71px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #f0142f;
    border-radius: 5px;
}

.theCard-Jadwal .jadwalInformation-open {
    background: #e7eeff;
    padding: 10.45px 8.71px 10.45px 8.71px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #2280ef;
    border-radius: 5px;
}

table,
thead,
tr,
th {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #5a607f;
}

.theIcon-program {
    background: #7e84a3;
    border-radius: 10px;
}

.theProgram-text h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #131523;
    margin: 0;
}
.theProgram-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #5a607f;
    margin: 0;
}

.accFAQ {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    color: #000000;
}

.accFAQdes {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #3c3c43d9;
}

.hero-bg {
    background-image: url("../images/backgrounds/unduh-bg.png");
    background-size: cover;
}

.hero-title {
    font-size: 3rem;
}

.footer-bg {
    background-color: #3560a0;
}
.bg-icon-brand {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 9px;
    margin-right: 9px;
}

.fb {
    padding-left: 11px;
    padding-right: 11px;
}

.border-footer {
    border-bottom: 1px solid rgba(255, 255,  255,  0.1);
}
.login-card {
    box-shadow: 0px 4px 100px 0px #3560a01a;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-bg {
    background-image: url("../images/backgrounds/login-bg.png");
    background-size: cover;
}

.login-btn {
    padding: 12px 0;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
